body {
  font-family: Arial, sans-serif;
  background-color: #f9fbff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.logo h1 {
  margin: 0;
  color: #1A7399;;
}

h2 {
  text-align: start;
  margin-bottom: 20px;
  color: #175A77FC;
}

.form {
  margin-bottom: 50px;
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

label {
  color: #175A77FC;
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="date"] {
  width: 350px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #1A7399;
  background-color: transparent;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.cancel-button,
.logout-button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.cancel-button {
  background-color: #1A7399;
  color: #fff;
}

.logout-button {
  background-color: #1A7399;
  color: #fff;
}
