body {
  font-family: Arial, sans-serif;
  background-color: #f9fbff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.logo h1 {
  color: #1A7399;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form img{
  width: 150px;
}

label {
  color: #175A77FC;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #016071;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  padding: 12px;
  width: 150px;
  background-color: #175A77FC;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
